#include "..\include\resource.h"


#define ID_DLG_MAIN 100 
#define ID_PB_OK 102 
#define ID_EDIT 103 
#define ID_PB_EXIT 104 
#define ID_CHBOX 105 
#define ID_ACTION 106 
#define ID_EDIT2 107 


ID_DLG_MAIN DIALOGEX 108, 70, 227, 116
STYLE DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Basic Api"
FONT 8, "Ms Shell Dlg", 0, 0, 0x0
BEGIN
    PUSHBUTTON      "OK",ID_PB_OK,153,96,40,14
    PUSHBUTTON      "Exit",ID_PB_EXIT,99,97,40,14
    CONTROL         "Zapis",ID_CHBOX,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,61,101,33,10
    PUSHBUTTON      "Akcja",ID_ACTION,6,98,41,14
    EDITTEXT        ID_EDIT,0,1,150,41,ES_AUTOHSCROLL
    EDITTEXT        ID_EDIT2,0,43,156,41,ES_AUTOHSCROLL
    LTEXT           "Edit2",IDC_STATIC,200,60,17,8
    LTEXT           "Edit1",IDC_STATIC,199,21,17,8
END
