#include "..\include\resource.h"

#define ID_MAIN    100
#define ID_LISTBOX 101
#define ID_WYSLIJ  102
#define ID_TEXT    103
#define ID_IP      104
#define ID_NAPIS   105
#define ID_NAPIS2  106
#define ID_PORTTX  107
#define ID_PORTRX  108
#define ID_NAPIS3  109
#define ID_NAPIS4  112
#define ID_START   110
#define ID_PORTTX2 111


ID_MAIN DIALOG 0, 0, 286, 210
STYLE DS_MODALFRAME | DS_SETFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "Klient"
FONT 8, "Ms Shell Dlg"
{
    LISTBOX         ID_LISTBOX, 4, 32, 274, 154, WS_TABSTOP | WS_VSCROLL | LBS_NOTIFY, WS_EX_LEFT
    EDITTEXT        ID_PORTTX2, 249, 12, 30, 12, ES_AUTOHSCROLL, WS_EX_LEFT
    LTEXT           "PORT_tx", ID_NAPIS4, 217, 15, 30, 9, SS_LEFT, WS_EX_LEFT
    PUSHBUTTON      "Wyslij", ID_WYSLIJ, 176, 189, 47, 14, 0, WS_EX_LEFT
    EDITTEXT        ID_TEXT, 4, 190, 164, 13, ES_AUTOHSCROLL, WS_EX_LEFT
    EDITTEXT        ID_IP, 24, 12, 53, 12, ES_AUTOHSCROLL, WS_EX_LEFT
    LTEXT           "IP", ID_NAPIS, 9, 15, 8, 8, SS_LEFT, WS_EX_LEFT
    LTEXT           "PORT_tx", ID_NAPIS2, 152, 15, 30, 8, SS_LEFT, WS_EX_LEFT
    EDITTEXT        ID_PORTTX, 183, 12, 30, 12, ES_AUTOHSCROLL, WS_EX_LEFT
    LTEXT           "PORT_rx", ID_NAPIS3, 85, 15, 30, 8, SS_LEFT, WS_EX_LEFT
    EDITTEXT        ID_PORTRX, 118, 12, 30, 12, ES_AUTOHSCROLL, WS_EX_LEFT
    PUSHBUTTON      "Start", ID_START, 230, 189, 47, 14, 0, WS_EX_LEFT
}
